input,
input.form-control{
	background: $light;
	border: none;
	border-radius: 0;
	color: $font-color;
	font-size: .75rem;
}

.input-group-btn{
	button{
		padding: 11px 15px;
	}
}

textarea{
	//background: 
}

button,
input[type="submit"],
.btn{
	@include btn-hover;

	&.inverst{
		@include btn-hover(true);
	}

	&.btn-grey{
		@include btn-hover(false, #e5e5e5, #999999);
	}
}