$grey: #60606e;
$light-grey: #999999;
$green: #7beec7;
$light: #fefcf9;

$font-color: $grey;
$font-color-2: $light-grey;
$main-font: 'Open Sans', sans-serif;
$header-font: 'Montserrat', sans-serif;
$theme-color: $green;